/* Link effect */
/********* DASHED BOTTOM *********/

.dashed-bottom {
  border-bottom: 1px dashed #c4c2c2;
  text-decoration:none;
}

.dashed-bottom:hover {
  border-bottom: 2px dashed #c4c2c2;
  text-decoration:none;
}

.dashed-bottom.solid:hover {
  border-bottom: 1px solid #c4c2c2;
  text-decoration:none;
}

h1, h3{
  color: #303030;
}


img {
  width: 100%; /* Showcase hack */
  background-size: contain;
  position: relative;

  footer{
   color: #d3d3d3;
  min-height:250px;
  height:auto;g
}
