:root {
  --base-font-size: 16;
  --base-font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;
  --base-line-height: 1.5;
  --base-font-weight: 400;
  --base-letter-spacing: -.004em;
  --header-font-family: medium-content-sans-serif-font, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
  --header-font-weight: 700;
  --header-scale: 1.57;
  --leading-space: calc(var(--base-line-height) * 1rem);
  --max-line-length: 36em;
}

 html {
  color: rgba(0, 0, 0, .8);
  font-weight: var(--base-font-weight);
  font-style: normal;
  font-size: calc(var(--base-font-size) / 16 * 100%);
  font-family: var(--base-font-family);
  line-height: var(--base-line-height);
  -webkit-font-smoothing: antialiased;
  text-size-adjust: auto;
}

 h2, h3 {
  margin-bottom: 0;
  letter-spacing: calc(var(--base-letter-spacing) / 2);
  font-weight: var(--header-font-weight);
  font-family: var(--header-font-family);
  line-height: calc(.8 * var(--base-line-height));

}

h2 {
  margin-top: calc(1.8 * var(--leading-space));
  font-size: calc(2.2 * var(--header-scale) * 1rem);
}

h3 {
  margin-top: calc(1.1 * var(--leading-space));
  font-size: calc(1.2 * var(--header-scale) * 1rem);
}


p {
  margin-top: var(--leading-space);
  margin-bottom: 0;
  max-width:var(--max-line-length);
  letter-spacing: var(--base-letter-spacing);
}


a.hvr:hover {
  color:#151515 ;
  background-color: #778899 ;
}



img {
  width: 100%;
  background-size: contain;
  position: relative;


table {
  margin-top: var(--leading-space);
  border-spacing: 0;
  border-collapse: collapse;

  & td, & th {
    padding: 0;
  }
}

blockquote {
  margin-top: var(--leading-space);
  margin-bottom: var(--leading-space);

}

footer {
  min-height:250px;
  height:auto;g
}
